body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	width: 100%;
	height: 100vh;
	background: url(img/header_logo.jpg) center no-repeat;
	background-size: cover; 
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/*Container*/
.container {
	width: 100%;
	max-width: 1010px;
	margin: 0 auto; /*выравнивание по центру*/
}
/*Intro */
.intro {
	display: flex;
	width: 100%;
	height: 100vh;
}
.intro_inner {
	width: 100%;
	max-width: 560px;
	text-align: center;
	margin: 0 auto;
}
.intro_title {
	color: #130e27;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: 110px;
}
.intro_img {
	display: flex;
	margin-left: 120px;
}
/*Slider*/
.slider{
    max-width: 80%;
    position: relative;
    
    height: 470px;
    margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 480px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Кружочки */

.slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

/* Анимация слайдов */

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*Header*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
}
.header_logo {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*Nav*/
.nav {
	text-transform: uppercase;
	font-size: 18px;
}
.nav_link {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
	position: relative;
}
.nav_link:after {
	content: "";
	display: none;
	width: 100%;
	height: 3px;
	background-color: #130e27;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity 0.3s linear;

}
.nav_link:hover:after {
	display: block;
	opacity: 1;
}